#doc-content-render {
 color: #f5f2f2;
}

#doc-content-render :is(.text-box, .warning-text) {
 line-height: 1.65;
}

#doc-content-render :is(.table-topic-content, .text, .text-box, .warning-text, .underline-text),
.list-content li {
 font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
 /* font-family: 'Optimistic Display', Verdana, 'Open Sans', 'Source Sans Pro', sans-serif; */
}

/* ##################################################### */
/* ############ Table Content Topics ################# */
/* ##################################################### */
/* #region */

.table-topic-content {
 border: 2px solid rgb(41, 41, 41);
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 border-radius: 8px;
 padding: 1.058rem 0 0 0rem;
 padding-bottom: 0.47rem;
 margin: calc(1.2 * 1.2rem) 0;
}

.table-topic-content h1 {
 font-size: 1.2rem;
 font-weight: 500;
 display: flex;
 align-items: center;
 width: 100%;
 margin-bottom: 1.4rem;
}

.table-topic-content + .sub-title {
 padding-top: 1rem !important;
}

.table-topic-content h1::after {
 content: '';
 background: rgb(58, 58, 58);
 height: 0.5px;
 flex-grow: 1;
 margin: 0 0.5rem;
 margin-top: 0.3rem;
}

.table-topic-content h1::before {
 content: '';
 background: rgb(58, 58, 58);
 height: 0.5px;
 width: 15px;
 margin: 0 0.5rem;
 margin-top: 0.3rem;
}

.table-list-content {
 font-family: 'Optimistic Display', 'Source Sans Pro', 'Open Sans', 'Segoe UI', sans-serif;
 padding: 0 0.294rem 0 1rem;
}

.table-list-content li {
 position: relative;
 right: 20px;
 opacity: 0;
 transition: 0.5s all;
}

.table-list-content li.show {
 right: 0px;
 opacity: 1;
}

.table-list-content li a {
 font-weight: 400;
 line-height: 1.5;
}

.table-list-content li a code {
 cursor: pointer;
}

.table-list-content li a:hover {
 text-decoration: underline;
}

.table-list-content li.nav-sub-title {
 font-size: 0.9rem;
 font-weight: 500;
 margin-bottom: 0.5rem;
}

.table-list-content li.nav-sub-sub-title {
 font-size: 0.9rem;
 font-weight: 400;
 margin-left: 1rem;
 margin-bottom: 0.4rem;
}

.table-list-content li.nav-sub-sub-sub-title {
 font-size: 0.8rem;
 font-weight: 300;
 margin-left: 2rem;
 margin-bottom: 0.3rem;
}

.table-list-content li.nav-sub-sub-sub-title + li.nav-sub-title,
.table-list-content li.nav-sub-sub-sub-title + li.nav-sub-sub-title,
.table-list-content li.nav-sub-sub-title + li.nav-sub-title {
 margin-top: 0.8rem;
}

/* #endregion */

/* ##################################################### */
/* ############ Table Content Topics ################# */
/* ##################################################### */
/* #region */

.side-table-topic-content {
 position: absolute;
 margin-right: 12px;
 top: 100px;
 right: -0.5%;
 z-index: 1;
 width: 470px;
 display: none;
 transition: 0.3s all;
}

.side-table-topic-content.show {
 opacity: 1 !important;
 display: block;
}

.side-table-topic-content h1 {
 color: rgb(195, 195, 195);
 margin-bottom: 1rem;
 font-weight: 600;
}

.side-table-topic-content .side-table-list-content {
 border-left: 1px solid rgb(39, 39, 39);
 padding: 0.5rem 0;
 padding-left: 20px;
 line-height: 1.3;
 opacity: 0;
 animation-name: opacityAnimation;
 animation-duration: 1.5s;
 animation-delay: 0.2s;
 animation-fill-mode: forwards;
}

.side-table-topic-content li a {
 margin-left: -21px;
 /* font-weight: 500; */
 vertical-align: super;
}
.side-table-topic-content li a:hover {
 text-decoration: underline;
}

.side-table-topic-content li.nav-active a {
 font-weight: 500;
}

.side-table-topic-content li.nav-sub-title {
 font-size: 0.8rem;

 margin-bottom: 0.7rem;
}

.side-table-topic-content li.nav-sub-title::before {
 content: '';
 background-color: #282828;
 position: relative;
 display: inline-block;
 border: 1px solid #333333;
 border-radius: 100%;
 height: 17px;
 width: 17px;
 top: -2px;
 right: 29px;
 transition: 0.3s all;
}

.side-table-topic-content li.nav-sub-title.nav-active::before {
 background-color: #16a085;
 border: none;
}

.side-table-topic-content li.nav-sub-sub-title.nav-active::before,
.side-table-topic-content li.nav-sub-sub-sub-title.nav-active::before {
 background-color: #d4d729;
 border-bottom: 3px solid #747517;
 border: none;
 border-radius: 100%;
}

.side-table-topic-content li.nav-sub-sub-title {
 font-size: 0.75rem;
 font-weight: 400;
 margin-left: 1rem;
 margin-bottom: 0.6rem;
}

.side-table-topic-content li.nav-sub-sub-title::before {
 content: '';
 background-color: #282828;
 position: relative;
 display: inline-block;
 border: 1px solid #333333;
 height: 10px;
 width: 10px;
 border-radius: 100%;
 top: -4px;
 right: 41.5px;
 transition: 0.5s all;
}

.side-table-topic-content li.nav-sub-sub-sub-title {
 font-size: 0.7rem;
 font-weight: 300;
 margin-left: 1.7rem;
 margin-bottom: 0.5rem;
}

.side-table-topic-content li.nav-sub-sub-sub-title::before {
 content: '';
 background-color: #282828;
 position: relative;
 display: inline-block;
 border-radius: 100%;
 border-radius: 1px;
 border: 1px solid #333333;
 height: 7px;
 width: 7px;
 top: -1px;
 right: 50.8px;
 transition: 0.5s all;
}

li.nav-sub-sub-title + li.nav-sub-title {
 margin-top: 0.8rem;
}

li.nav-sub-sub-title + li.nav-sub-sub-sub-title {
 margin-top: 0.5rem;
}

@media screen and (max-width: 1920px) {
 .side-table-topic-content {
  width: 370px;
 }
}

@media screen and (max-width: 1900px) {
 .side-table-topic-content,
 .side-table-topic-content.show {
  display: none;
 }
}

/* #endregion */

/* #region >>> titles contents <<< */

#doc-content-render .main-title {
 color: #e8f6e9;
 font-size: 1.8rem;
 font-weight: 700;
 line-height: 1.2;
 padding-top: calc(1.2 * 1.5rem);
 margin-bottom: calc(1.2 * 1.5rem);
}

#doc-content-render .sub-title,
#doc-content-render .sub-sub-title,
#doc-content-render .sub-sub-sub-title {
 word-break: break-word;
 padding-top: calc(1.2 * 1.2rem);
 margin-bottom: calc(1.2 * 1.2rem);
}

#doc-content-render .sub-sub-title,
#doc-content-render .sub-sub-sub-title {
 margin-bottom: calc(1.2 * 1rem);
}

#doc-content-render .main-title + .pre-block,
#doc-content-render .sub-title + .pre-block,
#doc-content-render .sub-sub-title + .pre-block,
#doc-content-render .sub-sub-sub-title + .pre-block {
 margin-top: 0;
}

#doc-content-render .sub-title {
 font-size: 1.6rem;
 font-weight: 500;
 line-height: 1.2;
}

#doc-content-render .sub-sub-title {
 color: #ffe100;
 font-size: 1.4rem;
 font-weight: 500;
 line-height: 1.2;
 position: relative;
 cursor: default;
 transition: 0.5s all;
}

#doc-content-render .sub-sub-sub-title {
 color: #fff200;
 font-size: 1.2rem;
 font-weight: 500;
 line-height: 1.2;
}

/* #endregion */

/* #region >>> text content <<< */

#doc-content-render .text {
 font-size: 17px;
 color: #e3e3e3;
 line-height: 1.8;
 font-weight: 500;
 word-break: break-word;
 margin-bottom: calc(1.2 * 1.2rem);
}

#doc-content-render .text.center {
 text-align: center;
}

#doc-content-render .text.justify {
 text-align: justify;
}

#doc-content-render .text.bold {
 font-weight: 600 !important;
}

/* #endregion */

/* #region >>> underline text <<< ### */

.underline-text {
 font-size: 1rem;
 font-weight: 500;
 margin-bottom: calc(1.2 * 0.2rem);
 color: #eee;
 text-decoration: underline;
 text-decoration-color: inherit;
 line-height: 1.4;
 text-decoration-style: double;
 text-decoration-line: underline;
 text-underline-offset: 4px;
}

.underline-text.red {
 color: #e74c3c;
}
.underline-text.blue {
 color: #339fe7;
}
.underline-text.green {
 color: #2ecc71;
}
.underline-text.yellow {
 color: #f1c40f;
}
.underline-text.orange {
 color: #e67e22;
}
.underline-text.purple {
 color: #d980fa;
}

.underline-text + .list-content {
 margin-top: calc(1.2 * 0.2rem);
}

.underline-text + .sub-sub-title {
 margin-top: calc(1.2 * 1rem);
}

.underline-text + #image {
 margin-top: calc(1.2 * 1rem);
}

/*#endregion*/

/* #region  >>> links and tooltip <<< >>> */

#ref-link,
#only-link {
 position: relative;
 text-decoration: none;
 font-weight: 500;
 padding: 0 2px;
 padding-top: 1px;
 display: inline;
 background-color: rgba(97, 218, 251, 0.12);
 border-bottom: 1px solid rgba(97, 218, 251, 0.3);
 transition: 0.2s background-color, border;
}

#ref-link:not([href]) {
 cursor: default;
}

#ref-link:hover,
#only-link:hover {
 background-color: rgba(97, 218, 251, 0.4);
 border-bottom-color: #61dafb;
}

/* ToolTip */

#ref-link::after {
 color: #ffffff30;
 font-size: 0.6rem;
 position: absolute;
 content: '[?]';
 bottom: 13px;
 left: -12px;
}

#ref-link .tooltiptext {
 position: absolute;
 visibility: hidden;
 font-weight: 400;
 line-height: 1.7;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 background-color: #2c3e50;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 8px 14px;
 z-index: 99;
 top: 28px;
 left: 30%;
 margin-left: -60px;
 width: max-content;
 max-width: 500px;
}

#ref-link .tooltiptext::after {
 content: '';
 position: absolute;
 bottom: 100%;
 left: 0;
 width: 100%;
 border-width: 10px;
 border-style: solid;
 border-color: rgba(0, 0, 0, 0);
}

#ref-link .tooltiptext::before {
 content: '';
 position: absolute;
 bottom: 100%;
 left: 10%;
 margin-left: -5px;
 border-width: 8px;
 border-style: solid;
 border-color: transparent transparent #2c3e50 transparent;
}

#ref-link:hover .tooltiptext {
 visibility: visible;
}

.tooltiptext .sub-text {
 position: relative;
 color: #3498db;
 font-size: 0.9rem;
 line-height: 1.5rem;
 font-weight: 500;
 border-radius: 8px;
}

/* #endregion */

/* #region >>> Note and Warning text box <<<*/

#doc-content-render .text-box {
 font-size: 1rem;
 font-weight: 500;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 cursor: default;
 background: #353533;
 border-radius: 3px;
 padding: 0.705rem 1.47rem 0.705rem 0.882rem;
 margin: 1.5rem 0;
 border: 1px solid #504c4c;
 transition: 0.4s all;
}

#doc-content-render .text-box:hover {
 box-shadow: rgba(0, 0, 0, 0.15) 3.95px 3.95px 3.6px !important;
}

#doc-content-render .text-box.note {
 background: #524c2c7d;
 border: none;
 border-left: 8px solid #cfae0d;
}

#doc-content-render .text-box.note:hover {
 border-left: 8px solid #e6c523;
}

#doc-content-render .text-box.warning {
 background: #ad2f22;
 border: none;
 border-left: 8px solid #f2422f;
}

#doc-content-render .text-box.warning:hover {
 border-left: 8px solid #a72a1c;
}

#doc-content-render .text-box.transparent {
 background: #00000000;
 box-shadow: none;
 border: 1px solid rgb(94, 94, 94);
}

#doc-content-render .text-box.transparent:hover {
 box-shadow: none !important;
}

/* #endregion */

/* #region >>> list content <<<*/

.list-content {
 font-family: 'Optimistic Display', 'Open Sans', 'Source Sans Pro', sans-serif;
 margin-bottom: calc(1.2 * 1rem);
 padding: 5px;
 padding-left: 0;
}

.list-content .list-title {
 display: block;
 position: relative;
 font-size: 1rem;
 font-weight: 500;
 line-height: 1.8;
 border-top: 1px solid #ffffffcb;
 border-bottom: 1px solid #ffffffcb;
 padding: 0.4rem 0;
 padding-left: 1.4rem;
 margin-bottom: calc(1.2 * 1rem);
 text-indent: -1rem;
}

.list-content .list-title::after,
.list-content .list-title::before {
 /* position: absolute;
 display: block;
 content: '';
 background: #ecf0f1b6;
 height: 2px;
 width: 100%;
 
 left: 0; */
}

.list-content .list-title::after {
 top: -3px;
}

.list-content .list-title::before {
 bottom: -3px;
}

.list-content ul {
 margin-left: 0.6rem;
}

.list-content li {
 font-size: 0.9rem;
 font-weight: 500;
 position: relative;
 line-height: 1.9;
 margin-bottom: 0.588rem;
 margin-left: 1.9rem;
 padding: 0.3rem 0.8rem;
 background: rgba(39, 39, 39, 0.487);
 border: 1px solid #373737;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 /* border-radius: 5px; */
 cursor: default;
 counter-increment: step-counter;
 transition: 0.3s all;
}

.list-content li:hover {
 background: rgb(36, 36, 36);
}

.list-content li:last-child {
 margin-bottom: 0;
}

.list-content li::before {
 font-size: 0.8rem;
 font-weight: 600;
 background-color: rgba(39, 39, 39, 0.487);
 box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
 color: #d7d5d5;
 border-radius: 5px;
 border: 2px solid #302d2d;
 border-bottom: 4px solid #2b2a2a;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 content: counter(step-counter);
 left: -2.4rem;
 top: 0.12rem;
 width: 1.8rem;
 height: 1.9rem;
}

.list-content li::before:hover {
 background-color: rgba(188, 35, 35, 0.717);
 color: #fff;
}

.list-content.dash li::before {
 content: '-';
}

.list-content.no-number :is(ul, ul li) {
 margin-left: 0rem;
}

.list-content.no-number li::before {
 display: none;
}

.list-content.normal li {
 list-style-type: square;
 background-color: #ecf0f100;
 border: none;
 box-shadow: none;
 margin-left: 1rem;
 padding: 0;
 margin-bottom: 0.5rem;
}

.list-content.normal.alpha li {
 list-style-type: upper-alpha;
}
.list-content.normal.number li {
 list-style-type: decimal;
}

.list-content.normal.check ul {
 margin-left: 1.1rem;
}
.list-content.normal.check li {
 list-style-image: url('../../_images/icons/check.png');
}

.list-content.normal li:last-child {
 margin-bottom: 0;
}

.list-content.normal li::before {
 display: none;
}

/* #endregion */

/* #region >>> Collapsible Styling <<<*/

.Collapsible-container {
 margin-bottom: 1px;
 animation-name: fadeSlideAnimation;
 animation-duration: 0.3s;
 position: relative;
}

.Collapsible-container + .text {
 margin-top: 15px;
}

.Collapsible-title {
 position: relative;
 color: #ffffff;
 font-size: 1.1rem;
 font-weight: 400;
 line-height: 1.3;
 cursor: pointer;
 padding: 10px 8px;
 padding-right: 25px;
 margin-bottom: 12px;
 border: 1px solid rgb(58, 58, 58);
 border-radius: 3px;
 transition: 0.3s all;
}

.Collapsible-title.active {
 border-color: #292929;
 background: #30303065;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 margin-bottom: 25px;
}

.Collapsible-title:hover,
.Collapsible-title.active:hover {
 border-color: #444444;
 background: #30303065;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Collapsible-title.active,
.Collapsible-title.active:hover {
 background: #c0392b;
}

.Collapsible-title::after {
 width: 11px;
 height: 11px;
 content: '';
 display: block;
 position: absolute;
 top: 14px;
 right: 13px;
 border-left: 2px solid #636e72;
 border-bottom: 2px solid #636e72;
 transform-origin: center;
 transform: rotate(315deg);
 transition: 0.3s all;
}

.Collapsible-title:hover::after,
.Collapsible-title.active::after {
 border-color: #f5f6fa;
}

.Collapsible-title.active::after {
 transform: rotate(135deg);
 top: 19px;
}

.Collapsible-content {
 max-height: 0px;
 overflow: hidden;
}

/* #endregion */

/* #region >>> top scroll <<<*/

.auto-top-scroll {
 bottom: 1.176rem;
 right: 1.176rem;
 position: fixed;
 width: 45px;
 height: 45px;
 background: rgb(46, 46, 46);
 border-radius: 10px;
 cursor: pointer;
 opacity: 0.4;
 z-index: 99;
 transition: 0.3s all;
}

/* .return-home-btn {
 background: rgb(255, 0, 0);
 top: 1.176rem;
 right: 1.176rem;
 /* position: fixed; */
/* width: 60px;
 height: 60px;
 padding: 7px;
 background: rgb(46, 46, 46);
 border-radius: 10px;
 cursor: pointer;
 opacity: 0.4;
 /* z-index: 99; */
/* transition: 0.3s all; */
/* } */

.return-home-btn .home-btn {
 padding: 22px;
 opacity: 0.6;
}
*/ .return-home-btn .home-btn:hover {
 opacity: 1;
}

.auto-top-scroll:hover {
 opacity: 1;
}

.auto-top-scroll::after {
 content: '';
 display: block;
 position: relative;
 top: 18px;
 left: 13px;
 border: 3px solid rgb(186, 186, 186);
 border-bottom: none;
 border-right: none;
 width: 20px;
 height: 20px;
 transform: rotate(45deg);
}

/* #endregion */

/* #region >>> Tab Content Switch <<<*/

.tab-container {
 max-width: var(--main-content-max-width);
 width: 100%;
 margin-bottom: calc(1.2 * 1.4rem);
 opacity: 0;
 animation: var(--pre-block-animation);
}

.tab-content > .pre-block,
.tab-content > .terminal-output {
 margin-top: 0;
 animation-delay: 0s;
}

.tab-content > p {
 margin-top: 18px;
}

.btn_tabs {
 display: flex;
 justify-content: start;
 width: 100%;
}

.tab-btn {
 font-size: 1rem;
 font-weight: 500;
 color: rgba(221, 221, 221, 0.972);
 background: #1e1e1e;
 position: relative;
 text-align: center;
 margin-right: 2px;
 border: 1px solid #212324;
 border-bottom: none;
 border-radius: 3px 3px 0 0;
 padding: 12px 44px;
 transition: 0.4s all;
 user-select: none;
}

.tab-btn::after {
 content: '';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 background: #646664;
 opacity: 0.5;
 height: 1px;
 transition: 200ms all;
}

.tab-btn.active::after {
 width: 100%;
 opacity: 1;
 height: 2.5px;
 background: #0be881;
 animation-name: opacityAnimation;
 animation-duration: 1.3s;
 animation-iteration-count: infinite;
 animation-direction: alternate-reverse;
}

.tab-btn:hover {
 background: #222526;
 cursor: pointer;
}

.tab-btn.active {
 background: #222526;
}

.tab-btn.active:hover {
 background: #222222;
}

.disableTab {
 display: none;
}

/* #endregion */

/* #region >>> Mobile Screen <<<*/

@media screen and (max-width: 1000px) {
 .Collapsible-title::after {
  top: 12px;
 }

 .Collapsible-title.active::after {
  top: 18px;
 }

 .auto-top-scroll {
  right: 43%;
  bottom: 12px;
  width: 60px;
  height: 60px;
 }

 .auto-top-scroll::after {
  top: 25px;
  left: 20px;
 }

 #ref-link .tooltiptext {
  width: 250px;
 }

 #ref-link .tooltiptext::before {
  left: 22%;
 }

 .tab-container {
  /* width: min(1000px, 100%); */
  /* width: min(var(--main-content-max-width), 93%);  */
  width: 100%;
  max-width: var(--main-content-max-width);
 }
}

/* #endregion */
