.sideBar-footer {
 /* background: var(--sideBar-footer-bg-color); */
 height: var(--sidebar-footer-height);
 display: block;
 border-top: 1px solid rgb(58, 58, 58);
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.sideBar-footer .home-btn-container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: var(--sidebar-footer-height);
 width: 40px;
 margin-left: 0.1rem;
 border-radius: 10px;
}

.sideBar-footer .home-btn {
 padding: 15px;
 opacity: 0.6;
}

.sideBar-footer .footer-title {
  font-size: 0.9rem;
  margin-left: 12px;
  font-weight: 700;
  color: rgb(110, 110, 110);
  user-select: none;
  animation: opacityAnimation 1.2s;
}

.sideBar-footer .home-btn:hover {
 opacity: 1;
}
